.data-labelling {
  display: grid;
  grid-template-areas: 'image info';
}

.image-display {
  grid-area: image;
  border-style: solid;
}

.image-info {
  grid-area: info;
  border-style: solid;
  text-align: left;
}
