.data-labelling {
  display: grid;
  grid-template-areas: 'image data';
}

.image-display {
  grid-area: image;
  border-style: solid;
}

.image-info {
  grid-area: data;
  border-style: solid;
  text-align: left;
}
